@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1E1B4B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-quicksand), "sans-serif";

  --color-brand-primary: #8a258f;
  --color-brand-secondary: #66156a;
  --color-brand-light: #fbf0fd;
  --color-brand-dark: #1f0b22;
  --color-brand-accent: #c29a5b;
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
  }
}